body {
    display: flex;
    flex-direction: column;
    width: 325px;
    margin: 100px auto;
}

h1{
    border-style: solid;
    border-bottom-width: 0px;
    border-color: grey;
    background-color: lightgray;
    margin: 0px;
    padding: 8px;
    width: 309px;

}

.button-container {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 325px;
    border-style: solid;
    border-color: grey;
}

.button-row {
    display: flex;
}

.button {
    padding: 8px;
    border-style: solid;
    border-color: grey;
    margin: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: white;
}

.button:hover {
    background-color: lightblue;
}


.display-container{
    width: 325px;
    border-style: solid;
    border-color: grey;
    border-bottom-width: 0px;
}

#display, #displayStored{
    font-size: 35px;
    text-align: right;
    margin: 0px;
    height: 40px;
    padding: 8px;
    padding-right: 20px;
}